<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
 
 <br>
  
 <form >

  <h3 >Add a Spam</h3>
  
  <div>
    <label for="testo">Cose Inutili:</label>
    <input name="testo" #newtesto> 
  </div>
  
  <br>
  
  <div>
      <label for="spam">Spam:</label>
      <input name="spam" #newspam> 
  </div>
  <br>
  
  <button (click)="addSpam(newtesto, newspam)"> Submit link</button>
  
</form>




</div>

<ul>
  <li *ngFor="let val of spams ; index as i;" > {{i}}   {{val}}</li>
</ul>
